{{#if isLoggedIn}}
    <section class="actions">
        <form action="/user/refill" method="POST">
            <h2>Salary time? Refill your account amount.</h2>
            <input type="text" id="refill-amount" name="newAmount">
            <button type="submit">Refill</button>
        </form>
        <div>
            <h2>New expense comming up?</h2>
            <a href="/expense/create">Add it now</a>
        </div>
    </section>
 <hr class="separator">

    {{#if expenses}}
    <table class="expenses">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Merchant</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>

            </thead>
            <tbody>

                {{#each expenses}}
                <tr>
                    <td>
                        <img src="/images/date.png" />
                        <p>{{date}}</p>
                    </td>
                    <td>
                        <p>{{merchant}}</p>
                        <div class="report">
                            {{#if report}}
                            <a href="/expense/report/{{_id}}">Report</a>
                            {{/if}}
                        </div>
                    </td>
                    <td>
                        <img src="/images/amount.png" alt="">
                        <p>лв {{total}}</p>
                    </td>
                    <td>
                        <img src="/images/category.png" alt="">
                        <p>{{category}}</p>
                    </td>
                    <td>
                        <img src="/images/hastag.png" alt="">
                        <p>{{description}}</p>
                    </td>
                </tr>

                {{/each}}
            </tbody>
    </table>

        
    {{else}}
        <h1 class="no-expenses">No expenses founded so far.. <span>GOOD JOB!</span></h1>
    {{/if}}
{{else}}
    <p class="guest-message">MoneyGone? The best expense tracker tool of all time!<br>Аre you new here? <a href="/user/register">Register</a> yourself!</p>
{{/if}}
